body {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  margin-bottom: 100px;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 0 auto;
  display: flex;
  flex-direction: row;
  width: 1200px;
}

#social {
  display: flex;
  justify-content: flex-end;
}

#social a {
  text-decoration: none;
  color: #02689A;
  font-size: 20px;
  float: left;
}

#social img {
  width: 50px;
  height: 50px;
  justify-content: space-around;
  margin: 10px;
}

#social h5 {
  align-self: flex-start;
}

#navigation {
  background-color: #FD0000;
  justify-content: space-around;
  align-items: center;
}

#navigation a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

#navigation a:hover {
  color: #56C7CC;
}

.logo {
  padding: 10px;
}

#banner {
  background-image: url("images/ladder.jpg");
  width: 1200px;
  height: 500px;
  background-size: cover;
  filter: opacity(90%);
  align-items: center;
  justify-content: center;
}

#main {
  display: flex;
  flex-direction: column;
}

.container .title-bar {
  background-color: red;
  text-align: center;
}

h1 {
  font-size: 30px;
  margin: 8px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
}

p {
  text-align: center;
}


/*MEDIA QUERIES*/
@media (max-width: 1200px) {
  body {
    width: auto;
  }

  .container {
    width: 900px;
  }

  #banner {
    width: 900px;
    height: 400px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 400px;
    flex-direction: column;
  }

  #social {
    flex-direction: row;
    justify-content: center;
  }

  #social h5 {
    display: none;
  }

  #banner {
    width: 400px;
    height: 200px;
  }
}
