body {
  background: URL("../images/grass.jpg");
  text-align: center;
}

h1 {
  font-family: 'The Girl Next Door', cursive;
}

#main {
  background-color: white;
  display: inline-block;
  padding: 30px;
  margin: 50px;
  border-radius: 20px;
  border: 3px solid black;
}

#currentTotal {
  margin: 10px 25%;
}

#flower:active {
  box-shadow: 0 0 8px green;
}

#buttons{
  margin: 0 25%;
}

 .button {
   margin: 6px;
 }

#currentTotal {
  width:150px;
  height:50px;
  border:1px solid black;
  text-align: center;
  font-size: 48px;
}

.button {
  width: 150px;
  height: 20px;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
}
