body{
  background: url("../images/geobackground.jpg") no-repeat center center fixed;
  background-size: cover;
  background-position: top;
  background-color: transparent;
  padding-top: 80px;
}

#profilepic {
  width: 70%;
  height: 100%;
  margin: 0 auto;
}

.row > div  > div {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
}

.left > div:nth-child(1) {
  background-color: #8C5555;
}

.left > div:nth-child(2) {
  background-color: #715D6B;
}

.left > div:nth-child(3) {
  background-color: #4B617E;
}

.right > div:nth-child(2) {
  background-color: #0C141A;
}

.portfolio-title {
  font-family: 'Bungee', cursive;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

p {
  color: white;
  font-weight: 200;
}

h4 {
  padding: 5px;
}
